@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
:root{
  --bg--clr: #222327;
  --txt-clr:#fff;
  --main-clr:#29fd53;
}
body{
  min-height: 100vh;
  background: var(--bg--clr);
  color: var(--txt-clr);
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}
.logo{
  display: flex;
  align-items: center;
}
.logo i{
  color: var(--main-clr);
  font-size: 28px;
  margin-right: 3px;
}
.logo span{
  color: var(--txt-clr);
  font-size: 2rem;
  font-weight: 600;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--txt-clr);
  font-size: 1.7rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}
.navbar a:hover{
  color: var(--main-clr);
}
.navbar a.active{
  color: var(--main-clr);
}
.main{
  display: flex;
  align-items: center;
}
.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: var(--txt-clr);
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.5s ease;
}
.user{
  display: flex;
  align-items: center;
}
.user i{
  color: var(--main-clr);
  font-size: 28px;
  margin-right: 7px;
}
.main a:hover{
  color: var(--main-clr);
}
#menubar{
  font-size: 35px;
  color: var(--txt-clr);
  cursor: pointer;
  z-index: 10001;
  display: none;
}


@media (max-width: 1280px){
  header{
    padding: 14px 2%;
    transition: .2s ease;
  }
  .navbar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
}
@media (max-width: 1160px){
  #menubar{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    background: var(--main-clr);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
}
.navbar a{
  display: block;
  margin: 12px 0;
  padding: 0px 25px;
  transition: all 0.5s ease;
}
.navbar a:hover{
  color: var(--txt-clr);
  transform: translateY(5px);
}
.navbar a.active{
  color: var(--txt-clr);
}
.navbar.open{
  right: 2%;
}